$base-class: '.mol-ListingIconInfo';

@mixin useListingIconInfoVariants($variant, $variant2: null) {
	@include useVariants($base-class, $variant, $variant2) {
		@content;
	}
}

#{$base-class} {
	--background-color: #{$color-base-surface-primary-dark};
	@include sectionSpacing;
	@include useDisableSpacing;
	background-color: var(--background-color);

	&--light {
		--background-color: #{$color-base-surface-primary-light};
	}

	&__items {
		@include interpolate(margin-top, -24px, -36px);
	}

	&__item {
		@include interpolate(margin-top, 24px, 36px);
	}
}