$base-class: '.mol-ListingUnits';

@mixin useListingUnitsVariants($variant, $variant2: null) {
	@include useVariants($base-class, $variant, $variant2) {
		@content;
	}
}

#{$base-class} {
	--background-color: #{$color-base-surface-primary-light};
	--filter-dropdown-color: #{$color-base-text-primary-light};
	--dropdown-chevron-url: url('/built/icons/chevron-down.svg');
	@include sectionSpacing;
	@include useDisableSpacing;
	background-color: var(--background-color);

	&--dark {
		--background-color: #{$color-base-surface-primary-dark};
		--filter-dropdown-color: #{$color-base-text-primary-dark};
		--dropdown-chevron-url: url('/built/icons/chevron-down-light.svg');
	}

	.grid-container {
		overflow: visible;
	}

	&__items {
		@include interpolate(margin-top, -25px, -50px);
	}

	&__item {
		@include interpolate(margin-top, 25px, 50px);
	}
}