$base-class: '.mol-VideoFullWidth';

@mixin useVideoFullWidthVariants($variant, $variant2: null) {
	@include useVariants($base-class, $variant, $variant2) {
		@content;
	}
}

#{$base-class} {
	--background-color: #{$color-base-surface-primary-light};
	@include sectionSpacing;
	@include useDisableSpacing;
	background-color: var(--background-color);

	&--dark {
		--background-color: #{$color-base-surface-primary-dark};
	}

	.grid-container {

		@include breakpoint("1800px", "max") {
			max-width: none;
		}

	}

}