$base-class: '.el-MediaTakeover';

@mixin useMediaTakeoverVariants($variant, $variant2: null) {
	@include useVariants($base-class, $variant, $variant2) {
		@content;
	}
}

@mixin useMediaTakeover() {
	position: relative;

	.el-MediaTakeover {
		display: block;
	}
}

#{$base-class} {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;

	&__inner {
		position: relative;
		height: 100%;
		width: 100%;
	}

	&__video {
		position: relative;
		height: 100%;
		width: 100%;
	}
}